<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>871409381657-glurg8tr94p8n4gq05q4981ald66sjmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871409381657-glurg8tr94p8n4gq05q4981ald66sjmj</string>
	<key>API_KEY</key>
	<string>AIzaSyBhB5Iqd9swHCjgdQMM-H4ncMYp4x2OlKg</string>
	<key>GCM_SENDER_ID</key>
	<string>871409381657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaloemphol.-44-Dev-Social</string>
	<key>PROJECT_ID</key>
	<string>dev-social-259b8</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-social-259b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:871409381657:ios:e544ba730e2f920d</string>
	<key>DATABASE_URL</key>
	<string>https://dev-social-259b8.firebaseio.com</string>
</dict>
</plist>